{% extends "main.html" %}
{% block content %}

<h2>Delete Item</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
	<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<p>Are you sure you want to delete {{item.name}}?</p>
<form action="#" method = "post">
	<input type="submit" value="Delete" class="btn btn-default">
	<span>or <a href="{{url_for('showItem', category = item.category.name, item = item.name)}}"><small>Cancel</small></a></span>
</form>

{% endblock %}