{% extends "main.html" %}
{% block content %}
<div>
	<div class="item-title row">
		<span>{{item.name}}</span>
		<figure class="creator pull-right">
			<img src="{{ creator.picture}}" width="40px">
			<figcaption>{{ creator.name }}</figcaption>
		</figure>
	</div>
	
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
		<li><strong>{{message}}</strong></li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	<p>{{item.description}}</p>
	<a href="{{url_for('editItem', item = item.name)}}">Edit</a> | <a href="{{url_for('deleteItem', item = item.name)}}">Delete</a>
</div>
{% endblock %}