<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Item Catalog Project</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block header %}
      <header>
        {% if 'username' not in session %}
        <div>
          <h1 style="display:inline-block"><a href="{{url_for('showCatalog')}}">Catalog App</a></h1>
          <a href="{{url_for('showLogin')}}">Login</a> 
        </div>
        {% else %}
        <div>
            <h1 style="display:inline-block"><a href="{{url_for('showCatalog')}}">Catalog App</a></h1>
            <a href="{{url_for('gdisconnect')}}">Logout</a> 
        </div>
        {% endif %}
      </header>
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>