<!DOCTYPE html>
<html lang="en">
	<head>

	</head>
	<body>
		<div>
			<h1 style="display:inline-block"><a href="{{url_for('showCatalog')}}">Catalog App</a></h1>
			<a href="#">Logout</a> 
		</div>
		<h2>Add Item</h2>
		<form action="#" method = "post">
			<p for="name">Name:</p>
			<input type ="text" name="name">
			<p>Description:</p>
			<input type ="text" name="description">
			<p>Category:</p>
			<select name="category_id">
				{% for c in categories %}
				<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select>
			<br>
			<input type="submit" value="Create">
		</form>
		<a href="#">Cancel</a>
	</body>
</html>