<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Catalog App</title>
	</head>
	<body>
		<div>
			<h1 style="display:inline-block">Catalog App</h1>
			<a href="#">Login</a> 
		</div>
		<div>
			<div style="display:inline-block;">
				<h2>Categories</h2>
				{% for i in categories %}
				<div>
				<a href='#'><p>{{i.name}}</p></a>
				</div>
				{% endfor %}
			</div>
			<div style="display:inline-block">
				<h2>{{category.name}} Items ({{category.number_of_items}} items)</h2>
				{% for i in items %}
				<p>
					<a href='#'><span>{{i.name}}</span>	</a>
				</p>
				{% endfor %}
			</div>
		</div>
	</body>
</html>