{% extends "main.html" %}
{% block content %}
<div>
	<div class="col-md-4">
		<h2>Categories</h2>
		{% for c in categories %}
		<a href="{{url_for('showCatalogItems', category=c.name)}}"><p class="category-list">{{c.name}}</p></a>
		{% endfor %}
	</div>
	<div class="col-md-8">
		<h2>{{category.name}} Items ({{items|length}} items)</h2>
		{% for i in items %}
		<p class="item-list">
			<a href="{{url_for('showItem', category=category.name, item=i.name)}}"><span>{{i.name}}</span></a>
		</p>
		{% endfor %}
	</div>
</div>
{% endblock %}
		