a {
  font-size: 18px;
  color: #4A4A4A;
  line-height: 23px;
}

.navbar-header {
  float:left;
  padding-right: 50px;
}

.navbar-main {
  height: 100px;
  background-color: #17a2b8;
  padding-top: 20px;
}

.navbar-catalog-right {
  float: right!important;
}

.navbar-default .navbar-catalog-brand {
  color: white;
  font-size: 30px;
}

.navbar-default .navbar-nav>li>a.navbar-catalog-login {
  color: white;
  border: solid 2px;
  border-radius: 5px;
}

.navbar-default .navbar-nav>li>a.navbar-catalog-login:hover {
  background-color: #118294;
  border: solid 2px;
  border-radius: 5px;
}

.category-list {
  background-color: #F0F0F0;
  padding: 20px;
}

.item-list {
  background-color: #F0F0F0;
  padding: 20px;
}

.btn-add {
  float: right;
}
